<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WMMTLauncher.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <WMMTLauncher.My.MySettings>
            <setting name="WMMT5Path" serializeAs="String">
                <value />
            </setting>
            <setting name="TestMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Language" serializeAs="String">
                <value>English</value>
            </setting>
            <setting name="Multiplayer" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FullScreen" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ExtraLaunchOptions" serializeAs="String">
                <value />
            </setting>
        </WMMTLauncher.My.MySettings>
    </userSettings>
</configuration>